black
email-validator
flake8
flask
flask-debugtoolbar
flask-login
flask-mail
flask-migrate
flask-sqlalchemy
flask-wtf
ipython
isort
jupyter
matplotlib
mypy
opencv-python
pandas
plotly
pytest
pytest-cov
python-dotenv
scikit-learn
sqlalchemy-stubs
torch
torchvision
types-Flask-Migrate
types-wtforms
